<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>J&M Clothes</title>

  <!-- Fuente bajada de google-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles -->
  <link href="/stylesheets/full-width-pics.css" rel="stylesheet">

</head>

<body>

  <!-- Navbar -->
  <%- include('partials/headerNavbar') %>

  <!-- Header -->

  <header>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="tamaño" src="https://statics.glamit.com.ar/media/ropit/banners/Banner-1920x1020_1.jpg"
            class="d-block w-100" alt="Promo 1">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item">
          <a href="/products/sale"><img class="tamaño" src="/images/web/portada.jpg" class="d-block w-100" alt="Promo 2"></a>
            
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </header>

  <!-- Content section -->
  <div class="container products-wrapper">
    <div class="row align-items-center">
      <div class="col-12">
        <h2 id="main-categoria" class="products-title">Elige tu categoría</h2>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
          <a href="/products/men" style="text-decoration: none; color:black;">
            <figure class="product-box_image">
              <img src="/images/web/hombre-card.jpg"
                alt="imagen de producto" width="230px" height="307px">
            </figure>
            <article class="product-box_data">
              <h2>HOMBRE</h2>
            </article>
          </a>
        </section>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
          <a href="/products/women" style="text-decoration: none; color:black;">
            <figure class="product-box_image">
              <img src="/images/web/mujer-card.jpg"
                alt="imagen de producto" width="230px" height="307px">
            </figure>
            <article class="product-box_data">
              <h2>MUJER</h2>
            </article>
          </a>
        </section>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
          <a href="/products/kids" style="text-decoration: none; color:black;">
            <figure class="product-box_image">
              <img src="/images/web/kids-card.jpg"
                alt="imagen de producto" width="230px" height="307px">
            </figure>
            <article class="product-box_data">
              <h2>KIDS</h2>
            </article>
          </a>
        </section>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
          <a href="/products/sale" style="text-decoration: none; color:black;">
            <figure class="product-box_image">
              <img src="/images/web/sale-card.jpg"
                alt="imagen de producto" width="230px" height="307px">
            </figure>
            <article class="product-box_data">
              <h2>OFERTAS</h2>
            </article>
          </a>
        </section>
      </div>
    </div>
  </div>



  <section class="py-5">
    <div id="home_colecciones" class="banners-list">

    </div>
  </section>

  <!-- Footer -->
  <%- include('partials/footer') %>

  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>