<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>J&M Clothes</title>

    <!-- Fuente bajada de google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/stylesheets/full-width-pics.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <%- include('partials/headerNavbar') %>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Perfil</h5>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <p style="text-align: center;">Avatar</p>
                                </div>

                                <div style="text-align: center;" class="form-label-group">
                                    <p>Nombre del usuario</p>
                                </div>

                                <div style="text-align: end;" class="custom-control custom-checkbox mb-3">
                                    <a><p>Editar perfil</p></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>