<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/headLogin') %>

</head>


<body>

    <!-- Navbar -->

    <%- include('partials/headerNavbar') %>

    <!--/NavBar-->

    <div class="container">
        <div class="login-container-2">
            <div class="register-2">
                <h2>Registrarse</h2>
                <form action="">
                    <input type="text" placeholder="Correo" class="correo">
                    <input type="password" placeholder="Contraseña" class="pass">
                    <input type="password" placeholder="Repetir Contraseña" class="repass">
                    <input type="submit" class="submit" value="REGISTRARSE">
                    <p>¿Ya tienes una cuenta?<a class="link" href="login.ejs"> Inicia Sesión</a></p>
                </form>
            </div>
            </form>

            <!-- Bootstrap core JavaScript -->
            <script src="/jquery/jquery.min.js"></script>
            <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>