<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="img-fluid d-block mx-auto"
                src="/images/WhatsApp Image 2019-12-07 at 21.55.24.jpeg" alt="logo">
        </a>

        <form class="form-inline">
            <input class="form-control btn-outline-dark mr-sm-2" type="search" placeholder="Buscar..."
                aria-label="Search">
            <button class="btn btn-dark  my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Hombres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mujeres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Colecciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Los más vendidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chart"><i class="fas fa-shopping-cart"></i></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/users/login"><i class="far fa-user"></i></a>
                </li>

            </ul>

        </div>
    </div>
</nav>